.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadada;
  border-radius: 5px;

  padding: 20px;
  color: grey;
}

.Weather ul {
  list-style: none;
  padding-left: 0%;
}
.Weather form {
  padding-bottom: 20px;
}
.Weather img {
  float: left;
}
.Weather .temperature {
  font-size: 64px;
  position: relative;
  top: -16px;
}
.Weather .unit {
  position: relative;
  top: -48px;
}
