.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadada;
  border-radius: 5px;

  padding: 20px;
  color: grey;
}

.Weather ul {
  list-style: none;
  padding-left: 0%;
}
.Weather form {
  padding-bottom: 20px;
}

.Weather .temperature {
  font-size: 64px;
  position: relative;
}
.Weather .unit {
  position: relative;
  top: -30px;
}

.Weather canvas {
  position: relative;
  top: -5px;
}

.weatherTemperature {
  position: relative;
  left: 70px;
  top: -90px;
}
